.container {
  text-align: center;
}

.itemBorder {
  border-bottom: solid 2px #7f7f7f;
  margin-bottom: 2%;
}

.adminButton {
  position: relative;
  bottom: 11px;
}

.accept {
  position: relative;
  top: 2.5px;
}

.refuse {
  position: relative;
  top: 3px;
}

.header {
  margin-bottom: 2%;
}

.selectionButtons {
  margin-bottom: 5%;
  margin-right: 8%;
}

.selectAll {
  font-size: 0.8em;
  margin-right: 49%;
  margin-left: 1%;
}
