.userManagerHeader {
  margin-bottom: 2%;
}

.itemsBorder {
  border-bottom: solid 2px #bebebe;
}

.userMail {
  text-align: center;
  font-size: 0.9em;
  color: black;
}

.inactiveInfos {
  margin-bottom: 3%;
  font-weight: bold;
  color: #f3d285;
}
