.imgProfil{
  width: 150px;
  border-image:#0cd1e8;
  border-width:8px;
  border-style: solid;

}

.profilOnSide{
  float: right;
  font-size: 10px;
}

.Logged{
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 20px;
}
