
            <h3>Vous recevez cet e-mail parce que vous avez demander à changer de mot de passe depuis la gestion de votre site.</h3>
            <br>
            <p class="contentMsg">
                Pour saisir un nouveau mot de passe, cliquez sur le lien suivant. <br>
                Pour des raisons de sécurité, le lien est valide durant 10 minutes.
            </p>
            <p class="link">
                <a href="{urlPage}/{idUser}/{keyTemp}" target="_blank">Saisir un nouveau mot de passe</a>
            </p>
            <p class="contentMsg">
                Si ce n'est pas vous qui avez fait la demande de changement, contacter immédiatement l'administrateur.
            </p>

