
            <h3>Vous recevez cet e-mail parce que vous avez saisie une nouvelle adresse depuis la gestion de votre site.</h3>
            <br>
            <p class="contentMsg">
                Pour confirmer votre nouvelle adresse e-mail, cliquez sur le lien suivant. <br>
                Pour des raisons de sécurité, le lien est valide durant 10 minutes.
            </p>
            <p class="link">
                <a href="{urlPage}/{idUser}/{keyTemp}/{newMail}" target="_blank">Confirmer votre adresse e-mail</a>
            </p>

