
            <h3>Vous avez envoyé un message au propriétaire du site Dali-web depuis sa page de contact.</h3>
            <p>
                Voici une copie du message qu'il à reçu:
            </p>
            <p class="contentMsg">
                De: <b>{name}</b> < {mail} > <br>
                <b>{subject}</b> <br>
                {message}
            </p>
            <p class="link">
                Vous aurez probablement une réponse sous peu selon les dispotitions de la personne.
            </p>

