
            <h3>Vous recevez cet e-mail parce que vous avez effectuer une demande ré-initialisation de votre mot de passe.</h3>
            <br>
            <p class="contentMsg">
                Pour continuer et terminer l'initialisation, cliquez sur le lien suivant. <br>
                Pour des raisons de sécurité, le lien est valide durant 10 minutes. <br>
                Si ce n'est pas vous qui avez fait la demande d'inscription, ne cliquez surtout pas sur le lien.
            </p>
            <p class="link">
                <a href="{urlPage}/{idUser}/{keyTemp}" target="_blank">Terminer l'initialisation</a>
            </p>
            <p class="contentMsg">

