
            <h3>Vous recevez cet e-mail parce que vous avez effectuer une inscription au site.</h3>
            <br>
            <p class="contentMsg">
                Pour continuer et terminer l'inscription, cliquez sur le lien suivant. <br>
                Si ce n'est pas vous qui avez fait la demande d'inscription, ne cliquez surtout pas sur le lien.
            </p>
            <p class="link">
                <a href="{urlPage}/{idUser}/{keyTemp}" target="_blank">Terminer l'inscription</a>
            </p>
            <p class="contentMsg">

