<ion-header>
  <app-page-header [title]="'Accueil'" [backButton]="false"></app-page-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row color="primary" class="justify-content-center">
      <ion-col class="ion-align-self-center" sizeXs="12" sizeMd="10" sizeLg="6" >
        <section class="d-flex flex-column justify-content-between h-100">


          <section class="">

            <h3>Initialisez votre mot de passe</h3>

            <form [formGroup]="initPassForm" (submit)="onSubmit()">

              <!-- input password -->
              <div>
                <label for="input-password1">Saisissez votre mot de passe:</label>
                <input type="password" formControlName="pass1" class="form-control mb-2" id="input-password1" placeholder="Votre mot de passe" required>
                <!-- error message -->
                <div *ngIf="initPassForm.controls.pass1.invalid && initPassForm.controls.pass1.dirty"
                     role="alert"
                     aria-describedby="password-label"
                     tabindex="0"
                     class="error alert-warning m-1 pl-3 p-1 rounded">
                  <small *ngIf="initPassForm.controls.pass1.errors.required">Vous devez saisir un mot de passe.</small>
                  <ul *ngIf="!initPassForm.controls.pass1.errors.required">
                    <li *ngIf="initPassForm.controls.pass1.hasError('minlength')"><small>Vous devez saisir un minimum de 8 charactères.</small></li>
                    <li *ngIf="initPassForm.controls.pass1.hasError('hasNumber')"><small>Votre mot de passe doit contenir un chiffre.</small></li>
                    <li *ngIf="initPassForm.controls.pass1.hasError('hasCapitalCase')"><small>Votre mot de passe doit contenir une lettre majuscule.</small></li>
                    <li *ngIf="initPassForm.controls.pass1.hasError('hasSmallCase')"><small>Votre mot de passe doit contenir une lettre minuscule.</small></li>
                    <li *ngIf="initPassForm.controls.pass1.hasError('hasSpecialCharacters')"><small>Votre mot de passe doit contenir un caractère spécial.</small></li>
                  </ul>
                </div>
              </div>

              <!-- input password -->
              <div>
                <label for="input-password2">Confirmez votre mot de passe</label>
                <input type="password" formControlName="pass2" class="form-control mb-2" id="input-password2" placeholder="Confirmation du mot de passe" required>
                <!-- error message -->
                <div *ngIf="initPassForm.controls.pass2.invalid && initPassForm.controls.pass2.dirty"
                     role="alert"
                     aria-describedby="password-label"
                     tabindex="0"
                     class="error alert-warning m-1 pl-3 p-1 rounded">
                  <small *ngIf="initPassForm.controls.pass2.errors.required">Vous devez confirmer un mot de passe.</small>
                  <small *ngIf="initPassForm.controls.pass2.errors.mustMatch">Les deux mots de passe doivent être identique</small>
                </div>

              </div>


              <!-- submit button -->
              <button class="btn btn-secondary w-100 mt-3" type="submit" [disabled]="initPassForm.invalid || inProcess">Envoyer</button>

            </form>

<!--            <div class="text-center mt-3">-->
<!--              <a routerLink="/login" class="text-white">Déjà inscrit ? Cliquez ici !</a><br/>-->

<!--            </div>-->


          </section>




        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <app-page-footer></app-page-footer>
</ion-footer>
